@@include('html/head.html')

<body class="notranslate">

    @@include('html/sidebar.html')

    <div class="body-container">
        @@include('html/header.html')
        <div class="main-content">
            <div class="item-area-3d">
                <a href="item.html" class="item-3d item-block">
                    <img src="@img/database.png" alt="database">
                    <span class="item-text item-header">Sneaker</span>
                </a>
            </div>
            <div class="item-area-3d">
                <a href="item.html" class="item-3d item-block">
                    <img src="@img/database.png" alt="database">
                    <span class="item-text item-header">bag</span>
                </a>
            </div>
        </div>
    </div>


    <script src="js/main.min.js"></script>
</body>
</html>