@@include('html/head.html')

<body style="background: linear-gradient(0deg, white 50%, #3786E5 50%);" class="notranslate">

    <div class="login-page">
        <form action="#">
            <h2>Admin area</h2>
            <div class="block">
                <input type="text" placeholder="Username" class="field-blue">
            </div>
            <div class="block block-password" style="margin: 1em 0 0.8em;">
                <input type="password" placeholder="Password" class="field-blue">
                <svg class="icon icon-show"><use href="@img/icons/icons.svg#showPassword"></use></svg>
            </div>
            
            
            <div class="f-block checkbox-blue">
                <input type="checkbox" id="keeplogin">
                <label for="keeplogin">
                    <span></span>
                    Keep me loged in
                </label>
            </div>
            <button>Login</button>
        </form>
    </div>


    <script src="js/main.min.js"></script>
</body>
</html>